# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      inputDate:
        description: 'input date (yyy-mm-dd)'     
        required: true
        default: '2010-01-01'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  compare:
    # The type of runner that the job will run on
    #outputs:
      #result:
        #description: "Random number"
        #value: ${{ steps.date-compare.outputs.result }}
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2
      # Runs a set of commands using the runners shell
      - run: chmod +x $GITHUB_WORKSPACE/scripts/script.sh
      - name: Run script
        id: date-compare
        shell: bash  
        run: $GITHUB_WORKSPACE/scripts/script.sh ${{ github.event.inputs.inputDate }}
      - run: echo "${{ env.licenceExpired }}"
      - run: echo "licence expiration status  ${{ env.licenceExpired }}"

          
          
        
